<h3 style="margin-bottom:100px;">{{heading}}</h3>
<a href='{{{ config.wwwroot }}}/local/managecategories/file_export.php?version={{time}}' class="btn btn-primary" style="margin-right:20px;">{{exportfile}}</a>
<a href='{{{ config.wwwroot }}}/local/managecategories/file_import.php' class="btn btn-info">{{importfile}}</a>